<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <code-editor content="ctrl.target.target" datasource="ctrl.datasource" on-change="ctrl.refreshMetricData()"
                         get-completer="ctrl.getCompleter()" data-mode="text" data-theme="chaos"
                         code-editor-focus="true">
            </code-editor>
        </div>
    </div>

    <div class="gf-form-inline">
        <div class="gf-form">
            <label class="gf-form-label width-6 query-keyword">Format as</label>
            <div class="gf-form-select-wrapper">
                <select class="gf-form-input gf-size-auto" ng-model="ctrl.target.format"
                        ng-options="f.value as f.text for f in ctrl.formats"
                        ng-change="ctrl.refreshMetricData()"></select>
            </div>
        </div>

        <div class="gf-form" ng-if="ctrl.target.format === 'timeseries'">
            <label class="gf-form-label width-6 query-keyword">Type</label>
            <div class="gf-form-select-wrapper">
                <select class="gf-form-input gf-size-auto" ng-model="ctrl.target.type"
                        ng-options="f.value as f.text for f in ctrl.types"
                        ng-change="ctrl.refreshMetricData()"></select>
            </div>
        </div>

        <div class="gf-form max-width-26" ng-if="ctrl.target.format === 'timeseries'">
            <label class="gf-form-label width-8">Legend format</label>
            <input type="text" class="gf-form-input" ng-model="ctrl.target.legendFormat" spellcheck='false'
                   placeholder="legend format"
                   data-min-length=0 data-items=1000 ng-model-onblur ng-change="ctrl.refreshMetricData()">
            <info-popover mode="right-absolute">
                Controls the name of the time series, using name or pattern. For example
                <span ng-non-bindable>{{hostname}}</span> will be replaced with label value for the label hostname.
            </info-popover>
        </div>

        <div class="gf-form" ng-if="ctrl.target.format === 'table'">
            <label class="gf-form-label width-6 query-keyword">Columns</label>
            <input type="text" class="gf-form-input width-30" ng-model="ctrl.target.columns" spellcheck='false'
                   placeholder="columns"
                   data-min-length=0 data-items=1000 ng-model-onblur ng-change="ctrl.refreshMetricData()">
        </div>
    </div>
</query-editor-row>
